ul li{
    list-style-type: none;
}

.pancakeImg{
    width:400px;
    height:auto;
}

.nav{
    margin:0;
    padding:0;
}

.centerText{
    text-align:center;
}

.sans-serif{
    font-family:Arial, Helvetica, sans-serif;
}